<div  class="container" id="mainCointainer">
    <br>
    <button   class="btn btn-primary"  data-bs-toggle="modal" data-bs-target="#addEmployeeModal">Add Employee</button>
    <br>
    <br>
    <table class="table  table-hover ">
        <thead>
            <tr>
            <th scope="col">s/n</th>
            <th scope="col">fname</th>
            <th scope="col">lname</th>
            <th scope="col">gender</th>
            <th scope="col">email</th>
            <th scope="col">jobTitle</th>
            <th scope="col">phone</th>
            <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let employee of employees">
            <th scope="row">{{employee.id}}</th>
            <td>{{employee.fname}}</td>
            <td>{{employee.lname}}</td>
            <td>{{employee.gender}}</td>
            <td>{{employee.email}}</td>
            <td>{{employee.jobTitle}}</td>
            <td>{{employee.phone}}</td>
            <td>
                <i  style="color:blue"(click)="onOpenModal(employee)" class="fa-regular fa-pen-to-square" data-bs-toggle="modal" data-bs-target="#editEmployeeModal"></i>
                <i style="color:red" (click)="onOpenModal(employee)" class="fa-solid fa-trash" data-bs-toggle="modal" data-bs-target="#deleteEmployeeModal"></i>
            </td>
            </tr>
        </tbody>
        </table>

        <!-- Add User Modal -->
<div class="modal fade modal-lg" id="addEmployeeModal">
    <div class="modal-dialog">
    
        <div class="modal-content">
    
        <div class="modal-header">
            <h4 class="modal-title">Employee | Add</h4>
            <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
        </div>
    
        <div class="modal-body">
            <form #addForm="ngForm" (ngSubmit)="onAddEmployee(addForm)">
                <div class="mb-3">
                    <label for="fname" class="form-label">First Name</label>
                    <input ngModel type="text" class="form-control" id="fname" name="fname" required>
                </div>
                <div class="mb-3">
                    <label for="lname" class="form-label">Last Name</label>
                    <input ngModel type="text" class="form-control" id="lname" name="lname" required>
                </div>
                <div class="mb-3">
                    <label for="gender" class="form-label">Gender</label>
                    <select ngModel class="form-select" id="gender" name="gender" required>
                        <option value="" disabled selected>Select Gender</option>
                        <option value="male">Male</option>
                        <option value="female">Female</option>
                    </select>
                </div>
                <div class="mb-3">
                    <label for="email" class="form-label">Email</label>
                    <input ngModel type="email" class="form-control" id="email" name="email" required>
                </div>
                <div class="mb-3">
                    <label for="jobTitle" class="form-label">Job Title</label>
                    <input ngModel type="text" class="form-control" id="jobTitle" name="jobTitle" required>
                </div>
                <div class="mb-3">
                    <label for="phone" class="form-label">Phone</label>
                    <input ngModel type="tel" class="form-control" id="phone" name="phone" required>
                </div>
                <button [disabled]="addForm.invalid" type="submit" class="btn btn-primary">Add</button>
            </form>
        </div>
    
        <div class="modal-footer">
            <button  type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
        </div>
    
        </div>
    </div>
    </div>


    
    <!-- edit User Modal -->
<div class="modal fade modal-lg" id="editEmployeeModal">
    <div class="modal-dialog">
    
        <div class="modal-content">
    
        <div class="modal-header">
            <h4 class="modal-title">Employee | Edit</h4>
            <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
        </div>
    
        <div class="modal-body">
            <form #editForm="ngForm">
                <input [(ngModel)]="editEmployee.id"  type="hidden">
                <div class="mb-3">
                    <label for="fname" class="form-label">First Name</label>
                    <input [(ngModel)]="editEmployee.fname" [ngModelOptions]="{standalone: true}"  type="text" class="form-control" id="fname" name="fname" required>
                </div>
                <div class="mb-3">
                    <label for="lname" class="form-label">Last Name</label>
                    <input [(ngModel)]="editEmployee.lname" [ngModelOptions]="{standalone: true}" type="text" class="form-control" id="lname" name="lname" required>
                </div>
                <div class="mb-3">
                    <label for="gender" class="form-label">Gender</label>
                    <select class="form-select" id="gender" name="gender" required>
                        <option value="" disabled selected>Select Gender</option>
                        <option value="male">Male</option>
                        <option value="female">Female</option>
                    </select>
                </div>
                <div class="mb-3">
                    <label for="email" class="form-label">Email</label>
                    <input [(ngModel)]="editEmployee.email" [ngModelOptions]="{standalone: true}" type="email" class="form-control" id="email" name="email" required>
                </div>
                <div class="mb-3">
                    <label for="jobTitle" class="form-label">Job Title</label>
                    <input [(ngModel)]="editEmployee.jobTitle" type="text" [ngModelOptions]="{standalone: true}" class="form-control" id="jobTitle" name="jobTitle" required>
                </div>
                <div class="mb-3">
                    <label for="phone" class="form-label">Phone</label>
                    <input [(ngModel)]="editEmployee.phone" [ngModelOptions]="{standalone: true}" type="tel" class="form-control" id="phone" name="phone" required>
                </div>
                <button (click)="onUpdateEmployee(editEmployee.id, editForm.value)" type="submit" class="btn btn-primary">Save changes</button>
            </form>
        </div>
    
        <div class="modal-footer">
            <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
        </div>
    
        </div>
    </div>
    </div>


    <!-- delete User Modal -->
<div class="modal fade modal-sm" id="deleteEmployeeModal">
    <div class="modal-dialog">
    
        <div class="modal-content">
    
        <div class="modal-header">
            <h4 class="modal-title">Employee | Delete</h4>
            <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
        </div>
    
        <div class="modal-body">
        Are you sure you want to delete {{deleteEmployee.fname}}?, this action it can be undone
        </div>
        <div class="modal-footer">
            <button (click)="onDeleteEmployee(deleteEmployee.id)"  type="submit" class="btn btn-primary">Yes</button>
            <button type="button" class="btn btn-danger" data-bs-dismiss="modal">No</button>
        </div>
    
        </div>
    </div>
    </div>
</div>





